*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Lora', serif;
  color: #292929;
  font-weight: 400; }

a, a:active, a:hover, a:visited {
  text-decoration: none; }

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 70%; }

.nav {
  height: 10rem;
  padding: 0 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  position: relative;
  z-index: 5; }
  .nav__igation {
    display: none; }
    @media only screen and (max-width: 50em) {
      .nav__igation {
        display: block; } }
  .nav__checkbox {
    display: none; }
  .nav__checkbox:checked + .nav__label .nav__label__span {
    background-color: transparent; }
  .nav__checkbox:checked + .nav__label .nav__label__span::before {
    top: 0;
    transform: rotate(45deg); }
  .nav__checkbox:checked + .nav__label .nav__label__span::after {
    top: 0;
    transform: rotate(-45deg); }
  .nav__label {
    position: relative;
    display: block;
    width: 6rem;
    height: 6rem;
    z-index: 100;
    cursor: pointer; }
    .nav__label__span {
      position: relative;
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .nav__label__span, .nav__label__span::before, .nav__label__span::after {
        width: 3rem;
        height: 2px;
        background-color: #fff;
        display: inline-block;
        transition: all .4s; }
      .nav__label__span::before, .nav__label__span::after {
        content: "";
        position: absolute;
        left: 0; }
      .nav__label__span::before {
        top: -1rem; }
      .nav__label__span::after {
        top: 1rem; }
  .nav__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
    .nav__box__svg {
      width: 16rem; }
      @media only screen and (max-width: 62.5em) {
        .nav__box__svg {
          width: 12rem; } }
      .nav__box__svg__logo__pic {
        width: 100%; }
    .nav__box__list {
      flex: 0 0 20%;
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      z-index: 2;
      position: relative;
      color: #fff; }
      @media only screen and (max-width: 50em) {
        .nav__box__list {
          display: none; } }
    .nav__box__item {
      font-size: 1.25rem;
      padding: 1.5rem 3.5rem;
      white-space: nowrap; }
      .nav__box__item:last-child {
        background-color: #FE2F3F;
        color: #fff; }
      .nav__box__item__link {
        font-family: 'Nunito', sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 1px;
        color: inherit; }

.carousel {
  width: 100%;
  transform: translateY(-10rem);
  position: relative;
  margin-bottom: 2rem; }
  .carousel__box {
    width: 100%;
    z-index: -10;
    display: relative;
    height: 68vh;
    background-size: cover;
    background-position: unset;
    background-repeat: no-repeat; }
  .carousel__secondary {
    position: absolute;
    width: 54%;
    top: 50%;
    left: 77%;
    transform: translate(-58%, -23%); }
    .carousel__secondary-2 {
      height: 67vh;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat; }
  .carousel__text {
    height: 60vh;
    width: 37%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    left: 18rem;
    top: 3rem; }
    .carousel__text__header {
      color: #DAD9D6;
      font-size: 2.8rem;
      line-height: 2;
      padding-bottom: 3rem;
      letter-spacing: 1px;
      font-weight: 600; }
    .carousel__text__list {
      width: 100%;
      list-style: none;
      color: #fff;
      display: flex;
      align-items: center;
      padding-bottom: 3rem; }
      .carousel__text__list__item {
        font-size: 1.5rem;
        font-family: 'Nunito', sans-serif;
        letter-spacing: 1px;
        margin-right: 1rem;
        margin-left: 1rem;
        font-weight: 300; }
        .carousel__text__list__item.red {
          color: #FE2F3F; }
        .carousel__text__list__item__1 {
          width: 3rem;
          height: 2px;
          display: block;
          background-color: #fff; }
          .carousel__text__list__item__1::before {
            content: "";
            display: block;
            width: 0rem;
            height: 2px;
            background-color: #FE2F3F; }
          .carousel__text__list__item__1.active::before {
            transition: all 4.25s;
            width: 3rem; }
    .carousel__text__btn {
      position: relative;
      padding: 2rem 3.5rem;
      color: #fff;
      background-color: transparent;
      border: 1px solid #fff;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-family: 'Nunito', sans-serif;
      transition: .3s; }
      .carousel__text__btn:hover {
        background-color: #fff;
        color: #292929; }

.content {
  padding-bottom: 10rem; }
  .content__row {
    display: flex;
    justify-content: center; }
    .content__row__left {
      flex: 0 0 50%; }
      .content__row__left__text {
        font-size: 5rem;
        visibility: hidden;
        opacity: 0;
        transition: all 1s;
        transition-delay: .33s; }
        .content__row__left__text.starting {
          visibility: visible;
          opacity: 1; }
        .content__row__left__text__red {
          color: #FE2F3F; }
    .content__row__right {
      flex: 0 0 50%; }
      .content__row__right__text {
        font-size: 1.9rem;
        visibility: hidden;
        line-height: 2.2;
        letter-spacing: .5px;
        padding-bottom: 4rem;
        opacity: 0;
        transition: all 1s;
        transition-delay: .66s; }
        .content__row__right__text.starting {
          visibility: visible;
          opacity: 1; }
        .content__row__right__text p {
          margin-bottom: 2rem; }
      .content__row__right__btn {
        color: #fff;
        font-size: 1.4rem;
        letter-spacing: 2px;
        font-weight: 700;
        padding: 2rem 4rem;
        font-family: 'Nunito', sans-serif;
        background-image: linear-gradient(to right, #FF2C40, #F15B3F);
        visibility: hidden;
        opacity: 0;
        transition: all 1s;
        transition-delay: 1s; }
        .content__row__right__btn.starting {
          visibility: visible;
          opacity: 1; }

.boxes__container {
  display: flex; }
  .boxes__container__1 {
    flex: 0 0 25%;
    border-top: 1px solid #292929;
    padding: 7rem; }
    .boxes__container__1:not(:last-child) {
      border-right: 1px solid #292929; }
    .boxes__container__1__img {
      visibility: hidden;
      padding-bottom: 3rem; }
    .boxes__container__1__2.white {
      color: #fff !important; }
    .boxes__container__1__2__header {
      font-family: 'Nunito', sans-serif;
      font-size: 2.2rem;
      padding-bottom: 3rem;
      line-height: 1.6;
      transition: .5s; }
    .boxes__container__1__2__text {
      visibility: hidden;
      font-size: 1.9rem;
      line-height: 1.7;
      color: #292929;
      transition: .5s; }

.laptop {
  background-image: url("/img/laptop_background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .laptop__text {
    background-color: #fff;
    width: 100%;
    flex: 0 0 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 5rem; }
    .laptop__text__big {
      font-family: 'Nunito', sans-serif;
      font-size: 4.5rem;
      font-weight: 400;
      width: 70%;
      align-self: center;
      line-height: 2;
      padding: 4rem 0;
      visibility: hidden;
      opacity: 0;
      transition: .5s;
      transition-delay: .33s; }
      .laptop__text__big.starting {
        visibility: visible;
        opacity: 1; }
    .laptop__text__small {
      align-self: center;
      width: 70%;
      font-size: 1.7rem;
      line-height: 2.5;
      padding-bottom: 4rem;
      opacity: 0;
      transition: .5s;
      transition-delay: .66s; }
      .laptop__text__small.starting {
        visibility: visible;
        opacity: 1; }

.wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto; }

.active-1 {
  display: block;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  list-style: none;
  width: 90%;
  height: 100vh;
  color: #fff;
  background-color: #292929;
  padding-top: 2rem;
  z-index: 2; }

.color-1 {
  background-color: #292929; }

.border-shadow {
  background-color: #fff;
  box-shadow: 1px 1px 20px #888888; }

.hidden {
  display: none; }
