//// COLOR VARS

$red-dark-1 :#FF2C40;
$red-dark-3 :#FE2F3F;

$orange: #F15B3F;

$gray-dark-1: #292929;

$gray-light-1: #DAD9D6;



// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    text-decoration: none;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10/16 px = 62.5% --> 1 rem = 10px
    
    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }
}

body {
    // font-family: 'Nunito', sans-serif;
    font-family: 'Lora', serif;
    color: $gray-dark-1;
    font-weight: 400;
}

$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';
 
#{$a-tags} {
//   color: $color-blue-2;
  text-decoration: none;
}
#{$a-tags-hover} {
//   color: $color-blue-2;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
