.market {
    height: 80vh;
    display: flex;
    margin-top: 13rem;
    margin-bottom: 13rem;    

    @media only screen and (max-width: $bp-largest) {
        margin-top: 3rem;
        margin-bottom: 3rem;
     }

     @media only screen and (max-width: $bp-large) {
        flex-direction: column;
        height: 150vh;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    @media only screen and (max-width: $bp-medium) {
        height: 100vh;
   
    }
    &__left {
        flex: 0 0 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $gray-light-2;

        @media only screen and (max-width: $bp-large) {
            text-align: center;
            flex: 0 0 60%;
        }

        @media only screen and (max-width: $bp-medium) {
            flex: 0 0 40%;
            justify-content: flex-start;
        }
        

        &__text {
            font-family: 'Nunito', sans-serif;
            width: 75%;
            font-size: 3rem;
            font-weight: 700;
            letter-spacing: 1px;
            line-height: 1.8;
            visibility: hidden;
            opacity: 0;
            transition: .5s;
            transition-delay: .4s;

            @media only screen and (max-width: $bp-medium) {
                text-align: left;
            }


            &.starting {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &__right {
        flex: 0 0 50%;
        background-color: $gray-light-2;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        transform: translate(-3rem, -3rem);

        @media only screen and (max-width: $bp-large) {
            transform: translate(0rem, -3rem);
            flex: 0 0 50%;
            padding: 7rem 0;
        }

        @media only screen and (max-width: $bp-small) {
            transform: translate(0rem, -3rem);
            flex: 0 0 45%;
            padding: 2rem 0;
        }


        &__container {
            width: 80%;
            align-self: center;

            @media only screen and (max-width: $bp-large) {
                height: 90vh;
            }

            &:not(:last-child) {
                margin-bottom: 6rem;
            }


        }

        &__box {
            display: flex;
            align-items: flex-start;
            visibility: hidden;
            opacity: 0;
            transition: .5s;
            transition-delay: .8s;
            
            &.starting {
                visibility: visible;
                opacity: 1;
            }


            &__2 {
                font-family: 'Nunito', sans-serif;
                color: $red-dark-1;
                font-size: 3rem;
                padding-right: 6rem;
            }

            &__inner {

                &__header {
                    font-family: 'Nunito', sans-serif;
                    font-size: 3rem;
                    font-weight: 400;
                    padding-bottom: 2rem;
    
                }
    
                &__text {
                    font-size: 1.6rem;
                }
            }
        }


    }
}