.bg {
    background-image: url("/img/bg-street.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    transform: translateY(-10rem);
    width: 100%;

    &__box {
        position: relative;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &__header {
            width: 32%;
            color: #fff;
            font-family: 'Nunito', sans-serif;
            font-size: 3rem;
            text-align: center;
            font-weight: 600;
            line-height: 2;
            padding-bottom: 3rem;

            @media only screen and (max-width: $bp-large) {
                width: 80%
            }
        }

        &__text {
            color: #fff;
            width: 32%;  
            text-align: center;
            font-size: 1.6rem;
            line-height: 1.8;

            @media only screen and (max-width: $bp-large) {
                width: 80%
            }
        }

        &__arrowbox {
            cursor: pointer;
            font-size: 3.5rem;
            text-align: center;
            color: $red-dark-1;
            height: 5.5rem;
            width: 5.5rem;
            background-color: #fff;
            border-radius: 50%;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            margin-bottom: 5rem;
        }
    }
}

.stick {
    transform: translateY(-10rem);

    &__dropdown {
        display: none;
        @media only screen and (max-width: $bp-large) {
            display: inline-block;
            text-align: center;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            font-size: 1.7rem;
            font-weight: 700;
            padding: 2rem 0;
        }

        & > span {

            @media only screen and (max-width: $bp-large) {
                display: inline-block;
                height: 2rem;
                width: 2rem;
                background-image: url("/img/menu-arrow-down.png");
            }

        }
    }

    &.sticky {
        position: absolute;
        top: 20rem;
        width: 100%;
        position: fixed;
        background-color: #fff;
        color: $gray-dark-1;
        z-index: 6;
        box-shadow: 0 -3px 3px 0 $gray-dark-2;
    }

    &__box {
        height: 15rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @media only screen and (max-width: $bp-large) {
            display: none;
        }

        &.active {
            @media only screen and (max-width: $bp-large) {
                display: block;
            }
        }


        &__item {
            flex: 0 0 18%;
            padding: 6rem 0;
            text-align: center;
            font-weight: 700;
            cursor: pointer;
            border-top: 3px solid #fff;
            transition: all .2s;

            @media only screen and (max-width: $bp-large) {
                padding: 1rem;
                text-align: left;
            }

    

            &:hover {
                color: $red-dark-1;
                border-top: 3px solid $red-dark-1;
            }

            &__link {
                color: inherit;
                font-size: 1.7rem;
            }
        }
    }
}

//  ---------------------- REUSABLE BOX ------------------------

.reusable {
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;

    @media only screen and (max-width: $bp-large) {
        flex-direction: column-reverse;
        align-items: center;
    }

    &.reverse {
        @media only screen and (max-width: $bp-large) {
            flex-direction: column;
        }
    }

    &__textleft {
        flex: 0 0 45%;

        @media only screen and (max-width: $bp-large) {
            width: 100%;
        }

        &__full {
            
 
        }
        &__header {
            font-family: 'Nunito', sans-serif;
            font-size: 3rem;
        }

        &__box {
            padding: 2rem;

            &:not(:last-child) {
                border-bottom: 1px solid $gray-light-1;
            }

            &__top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 1rem;
                cursor: pointer;


                &__header {
                    font-family: 'Nunito', sans-serif;
                    font-size: 2rem;
                    color: $red-dark-1;
                    font-weight: 400;
                }

                &__icon {

                }

            }

            &__bottom {
                display: none;
                padding: 2rem 0;

                &__text {
                    font-size: 1.6rem;
                    line-height: 2;

                }
            }
        }

    }

    &__imgright {
        flex: 0 0 50%;
        transform: translateY(2rem);
        opacity: 0;
        transition: all .7s;

        @media only screen and (max-width: $bp-large) {
            transform: none;
        }

        &.starting {
            transform: translateY(-3rem);
            opacity: 1;

            @media only screen and (max-width: $bp-large) {
                transform: none;
            }
        }

        &__img {
            width: 100%;
            @media only screen and (max-width: $bp-large) {
                width: 100%;
            }
        }
    }
}


//  --------------------------- FEATURE -----------------------------------

.feature {
    
    &__upper {
    display: flex;
    justify-content: center;
    background-image: url("/img/bg-store.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 55vh;

    @media only screen and (max-width: $bp-large) {
        height: 90vh;
    }
    }

    &__title {
        color: #fff;
        font-family: 'Nunito', sans-serif;
        font-size: 3rem;
        margin-top: 15rem;
        text-align: center;

        @media only screen and (max-width: $bp-large) {
            height: 90vh;
        }



    }

    &__box {
        background-color: $gray-light-4;
        height: 35vh;

        @media only screen and (max-width: $bp-large) {
            height: 80vh;
        }


        &__table {
            margin-right: auto;
            margin-left: auto;
            width: 70%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            transform: translateY(-30vh);
            box-shadow: 5px 10px 10px 4px $gray-dark-2;
            height: 58rem;

            @media only screen and (max-width: $bp-large) {
                flex-direction: column;
                box-shadow: none;
            }



            &__names {
                flex: 0 0 25%;
                background-color: $gray-light-3;
                padding: 3rem 2rem;
                font-family: 'Nunito', sans-serif;
                padding-top: 7rem;

                @media only screen and (max-width: $bp-large) {
                    display: none;
                }


                &__tr {
                    font-size: 1.3rem;
                    font-weight: 700;

                    &:not(:last-child) {
                        padding-bottom: 3.15rem;
                    }

                    & >h6 {
                        font-size: 1.4rem;
                        letter-spacing: 1px;
                        font-weight: 700;
                    }
                }
            }

            &__bronze {
                position: relative;
                flex: 0 0 25%;
                text-align: center;
                background-color: $gray-light-3;
                padding: 3rem 1.5rem;
                font-family: 'Nunito', sans-serif;
                padding-top: 7rem;
                transition: all .3s;

                @media only screen and (max-width: $bp-large) {
                    width: 100%;
                    text-align: left;
                    padding: 1rem 1.5rem;
                    border-bottom: 4px solid $gray-dark-2;
                }

                &__dropdown {
                    width: 100%;
                    display: block;
                    background-image: url("/img/silver+.png");
                    width: 5rem;
                    height: 5rem;
                    margin-right: auto;
                    margin-left: auto;
                }

                &__plus {
                    display: none;

                    &.active {
                        display: block;
                    }
                }


                &__tr {
                    font-size: 1.3rem;
                    font-weight: 700;

                    &:not(:last-child) {
                        padding-bottom: 3rem;
                    }

                    & >h6 {
                        font-size: 1.4rem;
                        letter-spacing: 1px;
                        font-weight: 700;
                    }
                }

                &.active {
                    box-shadow: 5px 10px 10px 4px $gray-dark-2;
                    height: 62rem;
                    transform: translateY(-2rem);
                    z-index: 5;

                    @media only screen and (max-width: $bp-large) {
                        box-shadow: none;
                        transform: none;
                        height: auto;
                    }
                }
            }

            &__silver {
                text-align: center;
                background-color: $gray-light-3;
            }

            &__gold {
                text-align: center;
                flex: 0 0 15%;
                background-color: $gray-light-3;
            }
        }
    }
}


//      ----------------------- PRICE ------------------------

.price {


    &__box {
        height: 40vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &__header {
            font-family: 'Nunito', sans-serif;
            font-size: 2.5rem;
            padding-bottom: 3rem;
        }

        & > p {
            font-family: 'Nunito', sans-serif;
            font-size: 1.6rem;
            margin-bottom: 3rem;
            color: $red-dark-1;
            border-bottom: 1px solid #fff;
            cursor: pointer;

            &:hover{
                border-bottom: 1px solid $red-dark-1;
            }
        }
    }
}